.btn{
    width: 160px;
    height: 45px;
    background-color: $mc;
    border: none;
    border-radius:45px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22.04px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
        background-color:#cc0f0f;
    }
    &_big{
        width: 230px;
        height: 57px;
    }
}
